.container-fluid.bill-index {
  padding: 1.5rem;

  h1, h2, h3, p {
    font-size: 1rem;
  }
}

.payer.dropdown button {
  border-radius: 10px;
  background-color: $ff-red;
  margin: 4px 6px 4px 0;
  border: none;

  h2 {
    align-items: center;
  }
}

.bill-items, .bill-headers {
  p, h3 {
    text-align: center;
  }
  .item {
    text-align: start;
  }
}

.item-row {
  margin-bottom: 16px;
}

.people {
  background-color: $ff-yellow;
  padding: 6px;
  border-radius: 15px;
  border: none;
  color: $ff-purple;
  margin-bottom: 0;
}

.add-people-button {

  .pop-up {
    padding: 12px;
    border-radius: 24px;
    background-color: $ff-yellow;
    margin: 16px 0;
  }
}

.person {
  align-items: center;
  margin: 20px auto;
  justify-content: space-between;
  width: 80%;

  p {
    margin: 4px 6px;
  }
}

button.grey {
  color: rgb(199, 196, 196);
}

button.green {
  color: $ff-green;
}
