.container-fluid.bill-index {
  padding: 2.5rem;
  font-weight: 300;
  overflow-x: hidden;
  position: relative;

  h1 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
    color: $ff-red;
  }

  h2, h3, p {
    font-size: 1rem;
    // font-weight: 500;
  }
}

.bill-description p, .tax-discounts p {
  font-weight: 300!important;
}

.dropdown-toggle {
  border-radius: 10px;
  background-color: $ff-red;
  margin: 4px 6px 4px 0;
  border: none;

}

.dropdown.payer {
  align-items: center;

  p {
    margin-top: 0;
  }

  h2 {
    margin-bottom: 0;
    color: $ff-purple;
  }
}

ul.dropdown-menu {
  border-radius: 15px;
}

.dropdown-menu a {
  text-decoration: none;
  color: black;
}

.dropdown-menu button.person {
  width: calc(100% - 8px);
  background-color: white;
  color: $ff-red;
}

.dropdown-menu .person {
  justify-content: space-evenly;
  border-radius: 20px;
  margin: 4px;

  .person-details {
    align-items: center;
  }

  img.avatar {
    aspect-ratio: 1;
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }

  p {
    margin-bottom: 0;
    margin-right: 10px;
  }
}

.person.delete {
  padding: 16px;
}


// <%# ------------------------------------------------------------- %>

.bill-items {
  background-color: white;
  border-radius: 20px;
  padding: 1rem 2rem 0.1rem 2rem;
  margin: 1rem auto 1.5rem;

  // width: calc(vw);
  // width: 95vw;
  // position: relative;
  // left: -6vw;
  font-weight: 500;
}

.bill-items, .bill-headers {
  p, h3 {
    text-align: center;
  }

  h3{
    font-weight: 500!important;
    color: $ff-purple;
  }

  .form-toggler p {
    // color: $ff-red;
    font-weight: 300!important;
  }

  .item {
    text-align: start;
  }

  .right-text {
    text-align: right;
    padding-right: 0;
  }
}

.item-row {
  margin-bottom: 16px;
}

.people {
  background-color: $ff-yellow;
  opacity: 0.8;
  padding: 0;
  border-radius: 50%;
  border: none;
  color: $ff-red;
  font-weight: 600!important;
  margin-bottom: 0.5rem;
  font-size: 0.8rem!important;

  i {
    color: $ff-red;
  }

  &:hover {
    background: none !important;
  }

  &:active {
    background: none !important;
  }

  &:focus {
    background: none !important;
  }
}

.add-people-button {

  .pop-up {
    padding: 12px;
    border-radius: 24px;
    // background-color: $ff-yellow;
    margin: 16px 0;
  }

  .dropdown-toggle {
    // inline-size: 80px;
    overflow-wrap: break-word;
  }
}

.item-member-partial {
  a {
  text-decoration: none;
  color: black;
  }

  button.person {
    width: calc(100% - 8px);
  }
}

.item-member-partial .person {
  justify-content: space-evenly;
  border-radius: 20px;
  margin: 4px;

  .person-details {
    align-items: center;
  }

  img.avatar {
    aspect-ratio: 1;
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }

  p {
    margin-bottom: 0;
    margin-right: 10px;
    font-weight:300!important;
  }
}

// .person.delete {
//   padding: 16px;
// }

.add-people-button .form-toggler.item p {
  text-align: left;
}

// <%# ------------------------------------------------------------- %>

.removed-white {
  background-color: rgb(255, 255, 255)!important;
}

.added-green {
  background-color: $ff-green!important;
  color: white!important;
  // font-weight :500!important;
  opacity: 0.8;
}

// <%# ------------------------FOOTER---------------------------- %>

.add-receipt {
  text-align: center;

  .d-flex {
    justify-content: space-evenly;
  }

  a button {
    opacity: 0.8;
    padding: 8px;
    border-radius: 15px;
    border: none;
    font-weight: 600!important;
    margin-bottom: 0.5rem;
    font-size: 0.8rem!important;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

    .add-another-receipt {
      color:white;
      background-color: $ff-green;
    }
    .continue-to-bill-summary {
      color:white;
      background-color: $ff-red;
    }
  }

  a.add-another-receipt button {
    color:$ff-yellow;
    background-color: $ff-purple;
    width: 60px;
  }

  a.continue-to-bill-summary button {
    color:$ff-purple;
    background-color: $ff-yellow;
    width: 60px;
    }

    p {
      color: $ff-purple;
      font-weight: 500;
    }


    .justify-content-center {
      button {
        margin-left: 0.5rem;
        margin-right: 0.5rem;
      }
    }
}

a.collaborate {
  background-color: #e8c986;
  text-decoration: none;
  padding: 10px;
  position: absolute;
  top: 30px;
  right: 30px;
  color: #020839;
  // z-index: 1000000;
}

// collaborate button
#item-collaborate {
  box-shadow: 5px 5px 15px #b9b6b6;
  transition: 300ms all ease-in-out;

  &:hover {
    background-color: #e2d8c0;
  }
}


// ===== item input field =======

@media (max-width: 768px) {
  .bill-items {
    flex-direction: column;
    width: 100%;
  }

  // .col-4 {
  // }

  input,
  select,
  textarea {
    font-size: 14px;
  }
}
