.page-setup {
  // background-color: ;
  min-height: calc(100vh - 80px);
  width: 100vw;
  padding-bottom: 80px;
}


.container-fluid.ff-container {
  padding: 2.5rem;
  font-weight: 300;
  overflow-x: hidden;
  position: relative;
}
