.create-button {
  border: 10px solid #E96479;
  border-radius: 5px;
  padding: 5px;
  background-color: #E96479;
  color: white;
  width: 70%;
  text-decoration: none;
}

.split-button {
  border: 10px solid #E96479;
  border-radius: 5px;
  padding: 5px;
  background-color: #E96479;
  color: white;
  width: 100px;
  text-decoration: none;
}

.split-1-button {
  border: 10px solid #E96479;
  border-radius: 5px;
  padding: 5px;
  background-color: #E96479;
  color: white;
  text-decoration: none;
}

// .back-button {
//   border: 10px solid #E96479;
//   text-decoration: none;
//   border-radius: 5px;
//   padding: 5px;
//   background-color: #E96479;
//   color: white;
//   width: 70px;
// }

.form {
  // border: 1px solid #F5E9CF;
  border-radius: 5px;
  // background-color: #F5E9CF;
}

.split-members {

  border-radius: 5px;

}

.contact-list {
  // border: 1px solid;
  border-radius: 5px;
  // background-color: #F5E9CF;
}
