.split-button {
  border: 1px solid #E96479;
  border-radius: 5px;
  padding: 2px;
  background-color: #E96479;
  color: white;
}

.form {
  border: 1px solid #F5E9CF;
  border-radius: 5px;
  background-color: #F5E9CF;
}

.split-members {
  border: 1px solid #F5E9CF;
  border-radius: 5px;
  background-color: #F5E9CF;
}

.contact-list {
  border: 1px solid #F5E9CF;
  border-radius: 5px;
  background-color: #F5E9CF;
}
