<%# <div class="person d-flex delete added-green">
  <div class="d-flex person-details">
    <img class="avatar" alt="avatar" src="https://kitt.lewagon.com/placeholder/users/cveneziani" />
    <p><%= member.given_nickname(current_user)</p> %>
  <%# </div>
</div>  %>
