.bill-show {
  .page-top {
    padding: 16px 16px 0px;
    justify-content: space-between;
  }

  .bill-description {
    margin: 0 16px 16px 16px;

    h1 {
      color: $ff-red;
    }
    h2, h3 {
      font-size: 1rem;
    }
    h2, h3, p {
      color: $ff-purple;
    }
    h2 {
      font-weight: 800!important;
    }
    .item {
      font-weight: 800!important;
    }
  }

  .items {
    .fa-user {
      color: $ff-red;
    }
  }
}
