<div class="item d-flex align-items-center justify-content-between]">
  <%= ff.input :id, as: :hidden %>
  <%= ff.input :name %>
  <%= ff.input :price_in_dollars, label: "Price", as: :float, input_html: { min: '0' } %>
  <%= ff.input :quantity, input_html: { min: '0' } %>

  <div class="delete-item" data-action="click->bills-manual-input#removeInput"><i class="fa fa-times-circle"></i></div>

</div>
