<div>
  <h1>
    Upload Receipt
  </h1>
  <div class="row justify-content-center">
    <div class="col-sm-8 my-3">
      <%= form_with upload_split_bill_path(@split, @bill) %>
      <% end %>
    </div>
  </div>
</div>
