<div class="m-5">
  <h1>
    Upload Receipt
  </h1>
  <div class="row justify-content-center">
    <div class="col-sm-8 my-3">
      <%= form_with url: upload_split_bills_path(@split), method: :post, class: "d-flex" do  |form| %>
        <%= form.label :image, 'Upload Photo' %>
        <%= form.file_field :image %>
        <%= submit_tag "Submit", class:"btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
