<div class="homepage d-flex">
  <div class="container-fluid ff-container">

    <div class="d-flex">
      <h1>Fairfare</h1>
      <p>Let us do the splitting for you.</p>

      <%= link_to new_user_session_path do %>
        <button class="btn login-btn standard-button red-button" type="button">
          Log In
        </button>
      <% end %>


      <%# <button class="sign-up-btn"> %>
      <div class="sign-up">
        <%= link_to "Sign Up", new_user_registration_path %>
      </div>
      <%# </button> %>

    </div>
  </div>
</div>
