<%# <div class="row justify-content-around"> %>
    <%# <div class="col-sm">
      <div class="home-img">
        <img src="https://media.istockphoto.com/id/1442124243/photo/on-the-table-a-check-from-the-supermarket-and-dollars-were-brought-in-notebooks-a-paper.webp?b=1&s=170667a&w=0&k=20&c=2xfonCTdIXjpTQUjUdCqjiKqV2P1OPtKlaG42JqzAZ4=" class="card-img" alt="...">
      </div>
    </div> %>

    <%# log in %>
    <%# <div class="col-sm">
      <div class="row form-wrapper">
        <h1>Fairfare</h1> %>

        <%# <form >
          <div class="mb-3">
            <input type="email" class="form-control home-signin" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email">
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
          </div> %>

          <%# <div class="mb-3">
            <input type="password" class="form-control home-signin" id="exampleInputPassword1" placeholder="Password">
          </div>

          <div class="d-grid gap-2"> %>
            <%# <%= link_to new_user_session_path do %>
              <%# <button class="btn login-btn" type="button">
                Log In
              </button> %>
            <%# <% end  %>
          <%# </div>

        </form>
      </div>

      <%# sign up %>
      <%# <div class="row sign-up-form">
        <div class="col-md-6 offset-md-3">Don't have an account?
          <a href="#">Sign up</a>
        </div>
      </div>

    </div>

  </div>

</div>
