<div data-filter-contacts-target="contacts">
  <% if available_contacts.empty? %>
    <div class="form-summary-card-less-padding">
      <h2 class="mt-4 purple-text">No Contacts to show</h2>
      <p>Enter a new nickname and phone number to add member to split.</p>
    </div>
  <% else %>
    <div class="existing-contacts-form-card card mb-4">
      <h2 class="my-3 purple-text">Click to add existing contacts to split</h2>
      <div class="list-group border-0" >
        <% available_contacts.each do |contact| %>
          <div class="list-group-item border-0">
            <%= link_to "#{contact.nickname} (#{contact.member.phone_number})", split_add_existing_contact_path(split, contact.member.id), class:"btn contacts-selection-button" %> <br>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
