  <% contacts.each do |contact| %>
      <li class="list-group-item" data-filter-contacts-target="list">
        <%= link_to "#{contact.nickname} #{contact.member.phone_number}", split_add_existing_contact_path(@split, contact) %> <br>
      </li>
    <% end %>
