<div class="container">
  <h1 class="my-5">Your Splits so far...</h1>
  <% @splits.each do |split| %>
    <div>
      <h5><%= link_to"#{split.name}", split_path(split), class:"text-decoration-none" %></h5>
    </div>
  <% end %>
</div>
