<div class="page-setup">
  <div class="container">
    <h1 class="my-5">Your Splits so far...</h1>
    <div>
      <% if @splits.any? %>
        <%= render partial: 'splits' %>
          <div>
        <% else %>
          <p><em>Sorry, no splits found!</em></p>
        </div>
      <% end %>
    </div>
  </div>
</div>
