<body class="container-color splits-index">
  <div class="page-setup">
    <div class="container">
      <h1 class="my-5" style="margin-left:1rem; color: #4D455D;">My Splits</h1>
      <div>
        <% if @splits.any? %>
          <%= render partial: 'splits' %>
            <div>
          <% else %>
            <p><em>Sorry, no splits found!</em></p>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</body>
