
<div class="page-setup">


  <div class="container">
    <div class="pt-5">
      <h1>Split Name: <%= @split.name %></h1>
    </div>
    <% if @split.bills.empty? %>
      <%= render partial: 'nothing_new' %>
      <% else %>
      <%= render partial: 'bill_info' %>
    <% end %>
    </div>
  </div>
</div>
