.splits-show {
  h1 {
    margin: 0 13px;
    color: $ff-red;
  }

  h3, h4, h5, h6, p {
    color: $ff-purple;
  }

  h5, h6 {
    font-size: 1rem;
  }

  .fa-whatsapp {
    font-size: 1.3rem;
  }
}
