<%= simple_form_for item, data: { edit_bill_target: "itemDescriptions" } do |f| %>
    <div class="row">
      <div class="col-7" >
        <%= f.input :name, label: false, input_html: {  }  %>
      </div>

      <div class="col-3">
        <%= f.input :quantity, label: false, input_html: { }  %>
      </div>

      <div class="col-2" >
        <%= f.input :price, label: false, input_html: { } %>
      </div>
    </div>
<% end %>
