.splits-summary-card {
  border: 2px solid ff-yellow-light;
  background-color: $ff-yellow-light;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;
  border-radius: 10px;
  padding: 24px;
  width: 100%;

  .date {
    font-size: 0.9rem;
  }
}

.form-summary-card-less-padding {
  border: 2px solid rgb(221, 221, 221);
  box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;
  background-color: #F4F4F4;
  border-radius: 10px;
  padding: 0 24px;
}

.existing-contacts-form-card {
  border: 2px solid rgb(221, 221, 221);
  box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;
  border-radius: 10px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 0;
  padding-bottom: 32px;
  margin-top: 12px;
}

.contact-card {
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
  background-color: #fff;
  padding: 15px;
}

.contact-card:hover {
  transform: translateY(-5px);
}

.card-title {
  color: #E96479;
}

.add-a-bill-button {
  margin: 10px;
  margin-top: 40px;
  padding-left: 20px;
}
