.navbar-lewagon {
  justify-content: space-evenly;
  background: $ff-purple;
  height: 80px;
  width: 100%;
  bottom: 0;
  left: 0;
  position: fixed;
  z-index: 1000000;
}

// .navbar-lewagon .navbar-collapse {
//   flex-grow: 0;
// }

.navbar-lewagon .navbar-icon img {
  width: 40px;
}

.page-content {
  min-height: 100vh;
  padding-bottom: 50px;
}

.navbar-icon {
  color: $ff-yellow;
  flex-grow: 1;
  text-align: center;
  font-size: x-large;
  height: 100%;
  // padding: 20px;
}
