.container-fluid.ff-container {
  padding: 2.5rem;
  font-weight: 300;
  overflow-x: hidden;
  position: relative;
}

.ff-section {
  background-color: white;
  border-radius: 20px;
  padding: 1rem 2rem 0.1rem 2rem;
  margin: 1rem auto 1.5rem;
  width: calc(vw);
  width: 95vw;
  position: relative;
  left: -6vw;
  font-weight: 500;
}

.container-color {
  background-color: #F5E9CF;
  padding-bottom: 100px;
}

.no-vertical-padding {
  padding-left: 0;
  padding-right: 0;
  margin-right: 0;
  margin-left: 0;
}
