.payer-highlight-title {
  color: white;
  background-color: #E96479;
  border-radius: 10px;
}

.split-highlight-title {
  color:white;
  background-color: #7DB9B6;
  border-radius: 10px;
  padding: 10px;
  display: inline-block;
}

.pink-color-text {
  color: #E96479;
}

.purple-color-text {
  color: #4D455D
}

.purple-color-text:hover {
  color: #E96479;
}

.teal-color-text {
  color: #7DB9B6
}

.black-text-no-decoration {
  color: black;
  text-decoration: none;
}

.no-bottom-padding {
  padding-bottom: 0;
}
